body {
    padding: 0;
    margin: 0;
}

.background {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.background::after {
    content: "";
    background: url('../img/cats.jpg');
    background-size: 100% auto;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    position: relative;
    top: 0px;
    margin: 0;
    width: 100%;
    border-spacing: 0;
}

.headers {
    position: relative;
    top: 0;
    margin: 0;
}

.header-center{
    color:#555;
    margin-right: 90px;
}

.nav-button {
    display: block;
    padding: 10px;
    margin: 0;
    color: #555;
    text-decoration: none;
    border: #000;
}

.nav-button:visited {
    border: #000;
    color: #555;
    text-decoration: none;
}

.content {
    margin: auto;
}

.image-container {
    height: 200px;
    width: 200px;
}

.image {
    height: 500px;
    width: 500px;
}

.image-text {
    width: 400px;
}
