.form-control{
    position: relative;
    display: block;
    margin : 0 auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    position: relative;
    display: block;
    margin : 0 auto;
    color: #666;
}
.form-signin .checkbox {
    width: 50%;
    margin: 10px auto 0;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.signin-button{
    position: relative;
    display: block;
    margin: 10px auto 0;
}
